
@{
    ViewBag.Title = "FilterMedicine";
}

<center>
    <h2><strong>Filter Medicine By</strong></h2>

    <form action="/SortAndFilter/FilterPerform" method="post" class="form-horizontal">
        <label class="control-label">Select FilterBy Parameter</label>
        <select name="FilterByParameter" id="FilterByParameter" class="form-control">
            <option>Select FilterBy Parameter</option>
            <option value="MedicineName">Medicine Name</option>
            <option value="MedicineType">Medicine Type</option>
            <option value="Expiry">Expiry</option>
            <option value="Price">Price</option>
            <option value="Stock">Stock</option>
        </select>

        <div id="ExpiryFilter" style="display:none;">
            <label for="Expiry" class="control-label">Select Date</label>
            <input type="date" name="Expiry" class="form-control" required value="2022-03-28" />

            <label class="control-label">Select Expiry Comparison Attribute</label>
            <select name="ExpiryAttribute" id="ExpiryAttribute" class="form-control">
                @*<option>Select Filter Condition</option>*@
                <option value="GreaterThan">After Entered Date</option>
                <option value="GreaterThanEqual">On or After Entered Date</option>
                <option value="LessThan">Before Entered Date</option>
                <option value="LessThanEqual">On or Before Entered Date</option>
                <option value="EqualTo">On Entered Date</option>
            </select>

            <label class="control-label">Sort By</label>
            <select name="ExpirySortAttribute" id="ExpirySortAttribute" class="form-control">
                <option value="Asc">Early First</option>
                <option value="Desc">Late First</option>
            </select>

        </div>

        <div id="PriceFilter" style="display:none;">
            <label for="Price" class="control-label">Enter Price</label>
            <input type="number" step="any" name="Price" class="form-control" required value="0" />
            <label class="control-label">Select Price Comparison Attribute</label>
            <select name="PriceAttribute" id="PriceAttribute" class="form-control">
                @*<option>Select Filter Condition</option>*@
                <option value="GreaterThan">Greater Than Entered Price</option>
                <option value="GreaterThanEqual">Greater Than & Equals To Entered Price</option>
                <option value="LessThan">Less Than Entered Price</option>
                <option value="LessThanEqual">Less Than & Equals To Entered Price</option>
                <option value="EqualTo">Equal to Price Value</option>
            </select>

            <label class="control-label">Sort By</label>
            <select name="PriceSortAttribute" id="PriceSortAttribute" class="form-control">
                <option value="Asc">Low To High</option>
                <option value="Desc">High To Low</option>
            </select>
        </div>

        <div id="StockFilter" style="display:none;">
            <label for="Stock" class="control-label">Enter Stock</label>
            <input type="number" name="Stock" class="form-control" required value="0" />
            <label class="control-label">Select Stock Comparison Attribute</label>
            <select name="StockAttribute" id="StockAttribute" class="form-control">
                @*<option>Select Filter Condition</option>*@
                <option value="GreaterThan">Greater Than Entered Stock</option>
                <option value="GreaterThanEqual">Greater Than & Equals To Entered Stock</option>
                <option value="LessThan">Less Than Entered Stock</option>
                <option value="LessThanEqual">Less Than & Equals To Entered Stock</option>
                <option value="EqualTo">Equal to Stock Value</option>
            </select>

            <label class="control-label">Sort By</label>
            <select name="StockSortAttribute" id="StockSortAttribute" class="form-control">
                <option value="Asc">Low To High</option>
                <option value="Desc">High To Low</option>
            </select>
        </div>


        <div id="MedicineNameFilter" style="display:none;">
            <label for="MedicineName" class="control-label">Search Medicine</label>
            <input type="text" name="MedicineName" class="form-control" required value="Medicine Name" />
        </div>

        <div id="MedicineTypeFilter" style="display:none;">
            <label for="MedicineType" class="control-label">Enter Medicine Type</label>
            <input type="text" name="MedicineType" class="form-control" required value="Medicine Type" />
        </div>
        <br />
        <div id="SubmitButton" style="display:none;">
            <input type="submit" value="Filter Medicines" class="btn btn-info" />
        </div>
    </form>
</center>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

<script>
    $('#FilterByParameter').on('change', function () {
        if ($(this).val() === "Expiry") {
            $("#ExpiryFilter").show()
            $("#PriceFilter").hide()
            $("#StockFilter").hide()
            $("#MedicineNameFilter").hide()
            $("#MedicineTypeFilter").hide()

            $("#SubmitButton").show()
        }
        else if ($(this).val() === "Price") {
            $("#PriceFilter").show()
            $("#ExpiryFilter").hide()
            $("#StockFilter").hide()
            $("#MedicineNameFilter").hide()
            $("#MedicineTypeFilter").hide()

            $("#SubmitButton").show()
        }
        else if ($(this).val() === "Stock") {
            $("#StockFilter").show()
            $("#ExpiryFilter").hide()
            $("#PriceFilter").hide()
            $("#MedicineNameFilter").hide()
            $("#MedicineTypeFilter").hide()

            $("#SubmitButton").show()
        }
        else if ($(this).val() === "MedicineName") {
            $("#MedicineNameFilter").show()
            $("#ExpiryFilter").hide()
            $("#PriceFilter").hide()
            $("#StockFilter").hide()
            $("#MedicineTypeFilter").hide()

            $("#SubmitButton").show()
        }
        else if ($(this).val() === "MedicineType") {
            $("#MedicineTypeFilter").show()
            $("#ExpiryFilter").hide()
            $("#PriceFilter").hide()
            $("#StockFilter").hide()
            $("#MedicineNameFilter").hide()

            $("#SubmitButton").show()
        }
        else {
            $("#ExpiryFilter").hide()
            $("#PriceFilter").hide()
            $("#StockFilter").hide()
            $("#MedicineNameFilter").hide()
            $("#MedicineTypeFilter").hide()

            $("#SubmitButton").hide()
        }
    });
</script>

