
@{
    ViewBag.Title = "ReadFeedBack";
}

<center>
    <h2><strong>FeedBacks</strong></h2>
</center>

<table class="table table-striped">
    
    @foreach (string text in ViewBag.Data)
    {
<tr>
    <td>@text</td>
</tr>}
</table>

