@{ ViewBag.Title = "About"; }



<style>
    .Details {
        font-family: cursive;
        font-size:larger;
        color: black;
    }
</style>
<br />
<center>
    <h2><u>About Us</u></h2>
</center>

<br />

<p>
    
This <strong>“Book My Medicine” is an online medicine search web application</strong>. This application allows a visitor to search for a medicine and addresses of medical stores (wholesale and retail sales) where the medicine is available. This application is a solution. So, this web application is planned to develop based on the requirements of the client.
The client is a small scale pharmaceutical company that is distributing generic medicines to emergency medicines and having a good network of medical (retail) stores. <strong>Main need of the client is to prepare an online application to help the needy people in finding the availability of the medicine and a list of medical stores where the medicine is available.</strong>
    
</p>

<br />
<br />

<center>
    <div style="width: 100%;" class="Details">
        <div style="width: 50%; height: 100px; float: left;">
            Priyanshu Bajpai
            <br />
            Contact: 9936891809
            <br />
            Email: Priyanshu.Bajpai@genpact.com
            <br />
            <br />
            Sunil Kumar
            <br />
            Contact: 9876543210
            <br />
            Email: Sunil.Kumar@genpact.com
        </div>
        <div style="margin-left: 50%; height: 100px;">
            Santosi Amrute
            <br />
            Contact: 8976543210
            <br />
            Email: Santosi.Amrute@genpact.com
            <br />
            <br />
            Shubham Raj
            <br />
            Contact: 7896543210
            <br />
            Email: Shubham.Raj@genpact.com
        </div>
    </div>
</center>




